header, footer, section {
  display:block;
  margin:0;
  padding:0;
  border:0;
}

html {
  background-color:#edebda;
}

body {
  font-family:'Myriad Web Pro', 'Helvetica', sans-serif;
}

a {
  color:#0000ee;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

header > *, main > *, footer > * {
  margin:0 auto;
  width:1200px;
}

header {
  background-color:#292929;
  height:130px;
  border-bottom:2px solid #ff3333;
  min-width:1200px;
}
h1 {
  margin:30px 0 0 0;
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/logo.png) no-repeat;
  width:421px;
  height:69px;
}
nav {
  text-align:right;
}
nav ul {
  margin:0;
  padding:0;
}
nav li {
  list-style-type:none;
  display:inline-block;
}
nav li a {
  display:block;
  height:130px;
  font-family:'Titillium Web', 'Myriad Web Pro', 'Helvetica', sans-serif;
  font-weight:200;
  font-size:22px;
  padding-left:38px;
  padding-right:38px;
  line-height:130px;
  color:#ffffff;
  text-decoration:none;
}
nav li a:hover {
  background-color:#000000;
  text-decoration:none;
}
header:after {
  content:'';
  display:block;
  clear:both;
}

main {
}

h2 {
  font-family:'Titillium Web', 'Myriad Web Pro', 'Helvetica', sans-serif;
  font-weight:200;
}

h3 {
  font-family:'Avenir Next', 'Titillium Web', 'Myriad Web Pro', 'Helvetica', sans-serif;
  font-weight:200;
  margin:1em 0;
}

section#introduction {
  background:url(../images/intro.png) 100% 0 no-repeat #3b3b3b;
  border-bottom:2px solid #ff3333;
}
#description {
  padding:40px 50px 0 50px;
  height:310px;
  width:300px;
  background-color:#2b2b2b;
}
#description h2 {
  margin:0;
  font-size:30px;
  line-height:45px;
  color:#ffffff;
  margin-bottom:22px;
}
#description p {
  font-family:'Titillium Web', 'Myriad Web Pro', 'Helvetica', sans-serif;
  font-weight:200;
  font-size:115%;
  line-height:160%;
  color:#c9c9c9;
  /*color:#dddddd;*/
  text-align:justify;
}
#next {
  background-color:#1f3c59;
  margin-top:50px;
  height:78px;
}
#next h3 {
  margin:20px 0 0 50px;
  color:#ffffff;
  font-size:34px;
  float:left;
  width:90px;
}
#next p {
  margin:25px 0 0 0;
  color:#ffffff;
  font-family:'Titillium Web', 'Myriad Web Pro', 'Helvetica', sans-serif;
  font-weight:200;
  line-height:140%;
  float:left;
  width:1000px;
}
#next p a {
  color:#ffffff;
  text-decoration:underline;
}
#next p a:hover {
  color:#ffffff;
  text-decoration:none;
}
#next:after {
  content:'';
  display:block;
  clear:both;
}

section#usecases {
  background-color:#ffffff;
  padding-top:55px;
  padding-bottom:30px;
}

#testimonials {
  padding-left:50px;
  float:left;
  width:740px;
}
.tm {
  float:left;
  width:320px;
  margin-right:48px;
  margin-top:30px;
  text-align:justify;
}
.tmlogo {
  display:block;
  height:65px;
}
/*.tmlogo img {
  display:block;
  margin:0 auto;
}*/
.tmtext {
  font-size:100%;
  line-height:150%;
}
.tmtext:before {
  content:'"';
  margin-left:-0.6ex;
}
.tmtext:after {
  content:'"';
}
.tmauthor {
  font-style:italic;
}
.tmset:after {
  content:'';
  display:block;
  clear:both;
}
.tmcontribute {
  margin-top:2.2em;
}

#twitter {
  width:400px;
  padding:0;
  margin:0;
  float:right;
}

section#usecases:after {
  content:'';
  display:block;
  clear:both;
}

section#usage {
  background-color:#3b3b3b;
  padding-top:1em;
  padding-bottom:2em;
}

section#usage h3 {
  color:#ffffff;
  font-size:25px;
  margin-bottom:1.2em;
}

#languages {
  float:left;
  width:460px;
}
#languages > * {
  padding-left:50px;
}
#languages ul {
  margin:0;
}
#languages li {
  list-style-type:none;
  float:left;
  /*
  text-align:center;
  margin-right:8px;
  margin-bottom:7px;
  */
  width:180px;
  margin-right:20px;
}
#languages a {
  display:block;
  padding:9px 15px 9px 15px;
  margin-bottom:8px;
  font-family:'Avenir Next', 'Titillium Web', 'Myriad Web Pro', 'Helvetica', sans-serif;
  font-size:17px;
  color:#d0d0d0;
  /*
  border:1px solid #777;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  */
  background-color:#525252;
  text-decoration:none;
}
#languages span.qs-sub {
  font-size:70%;
  margin-left:0.1em;
  color:#b3b3b3;
}
#languages span.qs-sub:before {
  content:'/';
  margin-right:0.1em;
}
#languages a:hover {
  color:#ffffff;
  background-color:#a04900;
  cursor:pointer;
  text-decoration:none;
}
#languages a:hover .qs-sub {
  color:#ffffff;
}
#languages a.selected {
  color:#ffffff;
  background-color:#a04900;
  cursor:default;
}
#languages a.selected .qs-sub {
  color:#ffffff;
}

#api {
  float:right;
  width:740px;
}

.qs {
  display:none;
}

#language {
  margin-right:50px;
  padding:15px 0 0 20px;
  padding:0;
  color:#ffffff;
  height:38px;
  background-color:#525252;
  border-bottom:1px solid #ff3333;
  font-size:15px;
}
#language a {
  font-family:'Avenir Next', 'Titillium Web', 'Myriad Web Pro', 'Helvetica', sans-serif;
  font-weight:200;
  display:block;
  padding:10px 0 10px 20px;
  text-decoration:none;
  color:#ffffff;
}
#language a:hover {
  background-color:#a04900;
  color:#ffffff;
  /*text-decoration:underline;*/
}
#language span.qs-url {
  display:block;
  text-align:right;
  float:right;
  width:350px;

  padding-top:0.4em;
  padding-right:20px;
  overflow:hidden;
  font-size:80%;
  color:#d0d0d0;
  text-align:right;
}
#language a:hover span.qs-url {
  color:#ffffff;
}
#language a:after {
  content:'';
  display:block;
  clear:both;
}

.qsholder {
  padding:20px 1.5em 0em 20px;
  margin-right:50px;
  height:31em;
  background-color:#ffffff;
  overflow:auto;
  font-size:115%;
  /*color:#bbbbbb;*/
}
.qsholder pre {
  padding:8px 15px 8px 15px;
  margin:0 0 0.7em 0;
  font-family:Monaco, Courier, sans-serif;
  border:1px solid #666;
  /*background-color:#262626;*/
  background-color:#faffff;
  font-weight:bold;
  line-height:140%;
  border:1px solid #005181;
}
.qsholder p {
  margin-bottom:0.4em;
}

.hlist {
  margin:0 0 0.8em 0;
  padding:0;
}
.hlist li {
  list-style-type:none;
  float:left;
  margin-right:3em;
}
.hlist:after {
  content:'';
  display:block;
  clear:both;
}

.linklist {
  margin-top:10px;
}
.linklist li {
  font-size:98%;
  list-style-type:none;
  margin-top:0.5em;
}
.linklist li:before {
  content:'>';
  font-weight:bold;
  font-size:10px;
  letter-spacing:-3px;
  margin:0 8px 0 -11px;
}

#quickstart-guide {
  color:#c9c9c9;
  margin-top:2em;
  text-align:right;
  padding-right:50px;
}
#quickstart-guide a {
  color:#c9c9c9;
  text-decoration:underline;
}
#quickstart-guide a:hover {
  text-decoration:none;
}

section#usage:after {
  content:'';
  display:block;
  clear:both;
}

section#related {
  background-color:#ffffff;
  padding-top:20px;
  padding-bottom:30px;
}
section#related > * {
  padding-left:50px;
}
section#related h3 {
  font-size:25px;
}

.paragraphs {
  line-height:140%;
}
.paragraphs > * {
  margin:0 1em 0 1em;
}
.paragraphs a {
  color:#0000ee;
  text-decoration:none;
}
.paragraphs a:hover {
  text-decoration:underline;
}
.paragraphs h4 {
  margin-top:1.5em;
  margin-bottom:0.5em;
}
.paragraphs h4:before {
  content:'>';
  font-weight:bold;
  font-size:11px;
  letter-spacing:-3px;
  margin:0 8px 0 -11px;
}
.paragraphs p {
  margin-bottom:0.4em;
}

footer {
  color:#c9c9c9;
  padding-bottom:50px;
  padding-top:30px;
}

#social {
  padding-left:50px;
}

#social .fb-like {
  top:-3px;
  margin-left:-14px;
}

#thanks {
  margin-top:0px;
  padding-left:50px;
  color:#a0a0a0;
}

#sponsor {
  float:right;
  width:300px;
  text-align:right;
  margin-top:-7px;
}
#sponsor a {
  color:#aaaaaa;
  vertical-align:bottom;
  text-decoration:none;
}
#sponsor a:hover {
  color:#aaaaaa;
  text-decoration:underline;
}
#sponsor img {
  margin-left:3px;
}

/* for leanModal.js */
#lean_overlay {
  position:fixed;
  z-index:100;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background:#000;
  display:none;
}

#json-to-msgpack {
  background-color:#ffffff;
  box-shadow:0 0 4px rgba(0, 0, 0, 0.7);
  display:none;
  padding:20px 30px;
  width:780px;
}

#json-to-msgpack h3 {
  font-size:130%;
  margin-bottom: 0.8em;
}
#json-to-msgpack .bytes {
  font-weight:400;
  font-size:96%;
  font-family:'Titillium Web', 'Myriad Web Pro', 'Helvetica', sans-serif;
  color:#222;
  margin-left:0.4em;
}

#json-to-msgpack #json-text {
  font-size:140%;
  width:770px;
  height:5em;
  border:1px solid #999;
}

#json-to-msgpack #msgpack-text {
  font-size:140%;
  min-height:5em;
  font-family:'Consolas', 'Courier New', 'Courier', 'Monaco', monospace;
}

.lean_close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: 14px;
  height: 14px;
  /*background: url(../images/lean_close.png);*/
  content:'x';
  z-index: 2;
}
