header, footer, section {
	display:block;
	margin:0;
	padding:0;
	border:0;
}

html {
	background-color:#454545;
}

/*
 * Body width
 */
#header > *, #desc > *,
#background > *, #footer > * {
	margin:0 auto;
	width:1000px;
}

/*
 * Header width
 */
#header {
	background-color:#150e4f;
	height:100px;
}
#logo {
	margin:20px 0 0 0;
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	width:421px;
	height:69px;
}
#topnav {
	text-align:right;
	padding-top:60px;
}
#topnav ul {
	margin:0;
	padding:0;
}
#topnav li {
	list-style-type:none;
	font-size:16px;
	border-left:1px solid #5555aa;
	display:inline;
	display:inline-block;
}
#topnav li a {
	display:block;
	padding:2px 30px 2px 30px;
	color:#cfcfff;
	text-decoration:none;
}
#topnav li a:hover {
	color:#ffffff;
	text-decoration:underline;
}
#header:after {
	content:'';
	display:block;
	clear:both;
}

/*
 * Description
 */
#desc {
	height:400px;
	border-top:2px solid #463180;
	border-bottom:1px solid #260cab;
	/*background-color:#17181c;*/
	background:url(../images/splash.jpg) 50% 0 no-repeat #000000;
	padding-bottom:10px;
}
#descbody {
	padding-top:20px;
}
#descimg {
	display:block;
	float:right;
	background:url(../images/alpha80black.png) repeat;
	margin:40px 0px 0 0;
	padding:15px 10px 15px 10px;
}
#desctext {
	width:510px;
	float:left;
	color:#dddddd;
	background:url(../images/alpha80black.png) repeat;
	padding:10px 20px 10px 20px;
}
h2 {
	font-size:29px;
	letter-spacing:1px;
	font-family:Myriad Web Pro, Arial, Helvetica, sans-serif;
	color:#ffffff;
	margin:0 0 10px 0;
}
#desctext p {
	font-size:100%;
	line-height:160%;
	text-align:justify;
}
#desctext pre {
	font-weight:normal;
	font-size:105%;
	/*letter-spacing:-1px;*/
	letter-spacing:1px;
	line-height:170%;
	padding:10px 10px 10px 10px;
	margin:18px 0 15px 0;
	font-family:Monaco, Courier, sans-serif;
	/*border:1px solid #005181;*/
	border:1px solid #463180;
	background-color:#262626;
	color:#ffffff;
}
#desctext a {
	color:#ffffff;
	text-decoration:underline;
}
#desctext a:hover {
	color:#ffffff;
	text-decoration:none;
}
#descbody:after {
	content:'';
	display:block;
	clear:both;
}

/*
 * Content background
 */
#background {
	border-top:1px solid #252550;  /* shadow */
	background:url(../images/shadow1000.png) 50% 0 repeat-y;
}

/*
 * Content
 */
#content {
	margin-top:-1px;
	border-top:1px solid #454590;  /* shadow overwrite */
	padding-bottom:20px;
	background-color:#ffffff;
	width:1001px;
}

h3 {
	color:#ffffff;
	background:black;
	width:250px;
	padding:8px 0 0 8px;
	margin:1.8em 0 0.8em 0;
	height:35px;
	font-size:16px;
	background:url(../images/ribbon.png) 100% 0 no-repeat;
	font-weight:normal;
	letter-spacing:1px;
	font-family:Myriad Web Pro, Arial, sans-serif;
}

/* testimonial */
/*
 * 1000px =
 * tmleft/tmright: width:29 * 2 +
 * tm: (width:290 + padding:12 + padding:12) * 3
 */
.tmset {
	padding-top:10px;
	margin-bottom:20px;
	height:220px;
}
.tmleft, .tmright {
	width:29px;
	height:100%;
	color:#999999;
	display:block;
}
.tmleft:hover, .tmright:hover {
	background-color:#eeeeee;
}
.tmleft {
	float:left;
	background:url(../images/arrow1.png) 8px 80px no-repeat;
}
.tmright {
	float:right;
	background:url(../images/arrow2.png) 8px 80px no-repeat;
}
.tm {
	float:left;
	width:290px;
	padding:0 12px;
}
.tmh {
	float:left;
	width:290px;
	padding:0 12px;
    display:none;
}
.tmlogo {
	display:block;
	height:65px;
}
.tmlogo img {
	display:block;
	margin:0 auto;
}
.tmtext {
	font-size:100%;
	line-height:150%;
	/*text-align:justify;*/
}
.tmset:after {
	content:'';
	display:block;
	clear:both;
}
.tmauthor {
	font-family:verdana;
}
.tmcontribute {
	float:right;
	width:334px; /* .tm:width:290 + .tm:padding:12*2 + 20px */
	margin-top:10px;
	font-size:95%;
}
.tmcontribute:after {
	content:'';
	display:block;
	clear:both;
}

/* quick starts */
.qsset {
	height:20em;
	padding:20px;
	/*background-color:#383838;*/
	background-color:#444444;
	border-bottom:1px solid #111;
}
.qsholder {
	float:right;
	width:655px;
	padding:1em 18px 0em 18px;
	height:18.5em;
	background-color:#ffffff;
	border:1px solid #999999;
	overflow:auto;
	/*color:#bbbbbb;*/
}
.qs {
	display:none;
}

.qsholder h4 {
	margin-bottom:10px;
	font-size:19px;
	color:#000000;

	display:none;
}
.qsholder pre {
	font-size:100%;
	padding:8px 15px 8px 15px;
	margin:0 0 0.7em 0;
	font-family:Monaco, Courier, sans-serif;
	border:1px solid #666;
	/*background-color:#262626;*/
	background-color:#faffff;
	font-weight:bold;
	line-height:140%;
	border:1px solid #005181;
}
.qsholder p {
	margin-bottom:0.4em;
}

.hlist {
	margin:0 0 0.8em 0;
	padding:0;
}
.hlist li {
	list-style-type:none;
	float:left;
	margin-right:3em;
}
.hlist:after {
	content:'';
	display:block;
	clear:both;
}
.qslist {
	float:left;
	width:260px;
	margin:0;
}
.qslist li {
	list-style-type:none;
	text-align:center;
	float:left;
	margin-right:8px;
	margin-bottom:7px;
}
.qslist a {
	display:block;
	padding:6px 20px 5px 20px;
	font-size:13px;
	color:#ffffff;
	border:1px solid #777;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;

	background:#151515;
	color:#aaaaaa;

	/* http://gradients.glrzad.com/ */
	background-image: linear-gradient(bottom, rgb(0,0,0) 80%, rgb(99,99,99) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 80%, rgb(99,99,99) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 80%, rgb(99,99,99) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 80%, rgb(99,99,99) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 80%, rgb(99,99,99) 100%);

	background-image: -webkit-gradient(linear, left bottom, left top,
	    color-stop(0.8, rgb(0,0,0)),
	    color-stop(1, rgb(99,99,99))
	);
	cursor:pointer;
}
.qslist a:hover {
	color:#ffffff;
	text-decoration:underline;
}
.qslist a.selected {
	cursor:default;
	background:#900020;
	border:1px solid #c04444;
	color:#ffffff;
}
.qslist a.selected:hover {
	text-decoration:none;
}
.linklist {
    margin-top:10px;
}
.linklist li {
	font-size:95%;
	list-style-type:none;
    line-height:135%;
}
.linklist li:before {
	content:'>';
	font-weight:bold;
	font-size:10px;
	letter-spacing:-3px;
	margin:0 8px 0 -11px;
}

.qsset:after {
	content:'';
	display:block;
	clear:both;
}

.paragraphs > * {
	margin:0 20px 0 20px;
}

a {
	color:#0000ee;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

#content .paragraphs {
	line-height:140%;
}

#content .paragraphs h4 {
	margin-top:1.5em;
	margin-bottom:0.5em;
}
#content .paragraphs h4:before {
	content:'>';
	font-weight:bold;
	font-size:11px;
	letter-spacing:-3px;
	margin:0 8px 0 -11px;
}

#content .paragraphs p {
	margin-bottom:0.4em;
}

/*
 * Footer
 */
#footer {
	background:url(../images/shadow1000bottom.png) 50% 0 no-repeat;
	padding-bottom:50px;
}

#footerbody {
	color:#999;
	font-size:100%;
}
#social {
	padding-top:25px;
	margin-bottom:15px;
}
#social .fb-like {
	top:-3px;
	margin-left:-14px;
}

#thanks {
	color:#aaaaaa;
}

#sponsor {
	float:right;
	width:300px;
	text-align:right;
	margin-top:-7px;
}
#sponsor a {
	color:#aaaaaa;
	vertical-align:bottom;
	text-decoration:none;
}
#sponsor a:hover {
	color:#aaaaaa;
	text-decoration:underline;
}
#sponsor img {
	margin-left:3px;
}

