* {
}

.clearfix:after, .container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

body {
	border-top: 4px solid #c7d8d8;
	/*#5672e3;*/
	/*border-right: 1px solid #c7d8d8;*/
	/*#ebf0ef;*/
	/*#c7d8d8;*/
	/*#5672e3;*/
	/*border-left:  2px solid #c7d8d8;*/
	/*border-right: 2px solid #c7d8d8;*/
	border-top: 3px solid #f0f0ff;
	/*border-right: 3px solid #f0f0ff;*/
	border-top: 3px solid #c3bfff;
	border-top: 3px solid #4b3fbf;
}

ul, ol {
	margin: 0 1.5em 1.5em 1.5em;
}

p {
	margin: 0 0 1.5em;
	font-size: 105%;
	line-height: 160%;
}

h2 {
	letter-spacing: -0.01em;
	font-size: 2em;
	margin-bottom: .75em;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

a {
	color: #0000ee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	margin: 0 auto;
	width: 950px;
	display: block;
}

#header h1 {
	background: #fff url(messagepack_logo.png) no-repeat;
	background-position: -7px 10px;
	text-indent: -10000px;
	height: 65px;
	margin-bottom: 0;
	position: relative;
}

#navi {
	background: #444456;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 21px;
}

#navi ul {
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;
}

#navi li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

#navi a {
	display: block;
	padding: .75em 1em;
	color: #fff;
	text-decoration: underline;
}

#navi a:hover {
	background: #8082ff;
	color: #f0faff;
}

#content {
}

#welcome {
	float: left;
	margin-right: 10px;
	margin-right: 16px;
	margin-bottom: 20px;
	width: 450px;
	padding-left: 18px;
	padding-left: 12px;
	/*border-left: 1px solid #bbbbff;*/
}

#welcome h2 {
	color: #000000;
	color: #4b3fbf;
	color: #444456;
	color: #333340;
	font-size: 230%;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 10px;
}

#welcome p {
	margin-bottom: 1.2em;
}

#welcome pre {
	font-weight: bold;
	font-size: 110%;
	background: #faffff;
	border: 1px solid #005181;
	padding: 10px;
	margin-bottom: 1em;
	line-height: 140%;
}

#benchmark {
}

#benchmark p {
	margin-right: 10px;
	color: #777;
	font-size: 96%;
	line-height: 120%;
}

#benchmark a {
	color: #777;
}

.topcontent {
	padding: 0;
	margin-bottom: 2em;
}

#getstart {
	margin-bottom: 0;
}

.topcontent h2 {
	font-size: 150%;
	font-weight: normal;
	background-color: #4b3fbf;
	background-color: #be1111;
	background-color: #5672e3;
	background-color: #693fa5;
	background-color: #4b3fbf;
	color: #fff;
	margin: 0 0 16px;
	padding: 5px 18px;
}

.topcontent .box3 {
	float: left;
	width: 280px;
	height: 12em;
	margin-left: 18px;
	margin-right: 18px;
	margin-top: 5px;
}

.topcontent .box2 {
	float: left;
	width: 430px;
	height: 13em;
	margin-left: 18px;
	margin-right: 18px;
	margin-top: 5px;
}

.topcontent h3 {
	font-size: 150%;
	color: #538d4c;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 8px;
}

.topcontent pre {
	font-weight: normal;
	font-size: 120%;
	background: #faffff;
	border: 1px solid #005181;
	padding: 10px;
	margin-bottom: 10px;
}

.topcontent ul, .topcontent ol {
	margin-left: 2.5em;
}

.topcontent li {
	font-size: 120%;
	margin-bottom: 0.3em;
}

.topcontent li a {
	color: #538d4c;
	color: #3333aa;
}

#footer {
	background: #ebf0ef;
	background: #d9d6ff;
	background: #e0deff;
	background: #e7e6ff;
	background: #f0f0ff;
	border-top: 1px solid #c7d8d8;
	border-top: 1px solid #877dff;
	border-top: 1px solid #c3bfff;
	color: #889999;
	color: #796eff;
	color: #4b44ab;
	color: #8888bb;
	margin-top: 50px;
	padding-top: 15px;
	padding-bottom: 30px;
	font-size: 100%;
}

#footer p {
	margin: 0;
}

