.clearfix:after, .container:after, #navi:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

ul, ol {
	margin: 0 1.5em 1.5em 1.5em;
}

li {
	font-size: 110%;
	margin-bottom: 0.3em;
}

p {
	margin: 0 0 0.8em 0;
	font-size: 105%;
	line-height: 160%;
}

h2 {
	background: #28252f url(headline2.png) repeat-x;
	height: 32px; /* 42px - 10px */
	font-size: 150%;
	color: #fff;
	padding-left: 15px;
	padding-top: 10px;
	margin: 0.5em 0 0 0;
	font-weight: normal;
}

h2#Abstruct {
	background: #28252f url(headline1.png) repeat-x;
	height: 43px; /* 55px - 12px */
	font-size: 200%;
	color: #fff;
	padding-left: 15px;
	padding-top: 12px;
	margin: 5px 0 0 0;
	font-weight: normal;
	letter-spacing: 0.05em;

	width: 994px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
}

h3 {
	color: #538d4c;
	font-size: 150%;
	margin-bottom: 0.5em;
	font-weight: normal;
}

#welcome h3 {
	font-size: 130%;
}

h4 {
	font-size: 120%;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

pre {
	background: #faffff;
	margin: 1em 0 1.5em 0;
}

a {
	color: #0000ee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	margin: 0 auto;
	width: 950px;
}

#header {
	background: #22173c url(msgpack_logo.png) no-repeat center;
	margin: 0 auto;
	height: 175px;
	width: 1024px;
}

#header h1 {
	text-indent: -10000px;
	position: relative;
	height: 100px;
	margin: 0;
}

#header #summary {
	margin-left: 43px;
	color: white;
}

#navi {
	font-family: sans-serif;
	margin: 10px auto 0 auto;
	width: 1024px;
}

#navi li {
	list-style-type: none;
	float: left;
	font-size: 100%;
	width: 190px;
	text-align: right;
}

#navi li a {
	border: 2px solid #ffffff;
	display: block;
	padding: 10px;
	text-decoration: none;
}

#navi li a:hover {
	border: 2px solid #5c5cff;
	background-color: #ededff;
}

#navi .navi_title {
	color: #000c59;
	font-size: 170%;
	font-weight: bold;
	display: block;
	margin-bottom: 0.2em;
}

#navi .navi_desc {
	color: #000000;
	display: block;
	font-size: 13px;
}

#navi .navi_desc:after {
	/*content: "\226b";*/
	content: url(arrow.png);
	width: 8px;
	height: 6px;
	margin-left: 4px;
	vertical-align: 1px;
}

#welcome {
	padding: 0 37px;
	/*width: 1024px;*/
}

#welcome_description {
	float: left;
	width: 480px;
}

#welcome_description p {
	text-align: justify;
}

#welcome_figure {
	float: right;
	width: 440px;
}

#welcome pre {
	font-weight: bold;
	font-size: 110%;
	line-height: 140%;
	padding: 10px;
	border: 1px solid #005181;
}

img#speedtest {
	margin: 4px 0 5px 0;
}

table#compare {
	border: 1px solid #005181;
	width: 440px;
}

table#compare col.hader {
	width: 140px;
}

table#compare col.main {
	width: 140px;
}

table#compare col.sub {
	width: 80px;
}

table#compare th {
	border: none;
}

table#compare td {
	border: none;
	text-align: center;
}

table#compare tbody th {
	text-align: left;
}

table#compare tbody tr:nth-child(odd) {
	background: #cfffb9;
	background: #d5f8b4;
}

table#compare a {
	color: #000;
	border-bottom: 1px solid #333;
	text-decoration: none;
}

table#compare a:hover {
	border-bottom: none;
	text-decoration: none;
}

table#compare td,
table#compare th {
	padding: 8px 5px;
}

#welcome_figure h3 {
	color: #333;
	font-size: 120%;
	margin-bottom: 0.5em;
	font-weight: bold;
	text-align: center;
	margin-top: 2em;
}

#welcome_figure h3:nth-child(1) {
	margin-top: 1em;
}

p.caption {
	margin: 0 5px 1em 5px;
	color: #666;
	font-size: 96%;
	line-height: 120%;
	text-align: justify;
}

p.caption a {
	color: #777;
	text-decoration: underline;
}

p.caption a:hover {
	text-decoration: none;
}

#getstart pre {
	font-weight: normal;
	font-size: 115%;
	padding: 10px 8px 10px 8px;
	letter-spacing: -1px;
	line-height: 1.3em;
	margin: 10px 0 10px 0;
	border: 1px solid #005181;
}

#getstart_more_link {
	font-size: 120%;
	padding: 0em 0 0.5em 20px;
	clear: both;
}

#getstart_more_link a {
	font-weight: bold;
}

.getstart_links {
	font-size: 14px;
	margin: 0 0 0.7em 0;
	line-height: 100%;
}

.getstart_links span {
	margin-left: 8px;
	margin-right: 2px;
}

.getstart_links a {
	margin-right: 3px;
	text-decoration: underline;
}

.getstart_links a:hover {
	text-decoration: none;
}

.box3 {
	float: left;
	width: 280px;
	height: 16em;
	margin: 5px 18px 0 18px;
}

.box2r, .box2l {
	width: 430px;
	height: 13em;
	margin-left: 18px;
	margin-right: 18px;
	margin-top: 0;
	margin-bottom: 2em;
	text-align: justify;
}

.box2l { float: left; }
.box2r { float: right; }

.box2l h3, .box2r h3 {
	color: #222222;
	font-size: 1.5em;
	font-weight: normal;
	border-bottom: 1px solid #999;
	margin-bottom: 0.3em;
	padding-bottom: 0.25em;
}


#doctoc {
}

#doctoc .box3 {
	height: 8em;
}

#doctoc .box3 p {
	font-style: italic;
}

#doctoc h3 {
	margin-bottom: 0.3em;
}

#doctoc h3 a {
	color: #04006e;
	text-decoration: underline;
}

#doctoc h3 a:hover {
	color: #222222;
	text-decoration: none;
}


#groups {
	margin: 1em 0 0 0;
	font-size: 105%;
}

#groups table {
	border: none;
	margin: 1em 0;
}
#groups table * { border: none; padding: 0; }

#groups hr {
	border: none;
	border-top: 1px solid #bbb;
}

#groups input {
	border: 1px solid #999;
	margin: 0.5em 0.1em 0.5em 0;
}


#footer {
	background: #ebf0ef;
	background: #d9d6ff;
	background: #e0deff;
	background: #e7e6ff;
	background: #f0f0ff;
	border-top: 1px solid #c7d8d8;
	border-top: 1px solid #877dff;
	border-top: 1px solid #c3bfff;
	color: #889999;
	color: #796eff;
	color: #4b44ab;
	color: #8888bb;
	margin-top: 50px;
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 100%;
}

#footer p {
	margin: 0;
}

#footerlogo {
	float: right;
	width: 120px;
	text-align: right;
	margin-top: 2px;
}

#footerlogo img {
	border: 1px solid #c3bfff;
}

